<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/jewelry_dbg</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    
        <!-- Entity mappings -->
        <mapping class="edu.sfu.lab5.model.Country"/>
        <mapping class="edu.sfu.lab5.model.JewelryType"/>
        <mapping class="edu.sfu.lab5.model.Material"/>
        <mapping class="edu.sfu.lab5.model.Jewelry"/>
        <mapping class="edu.sfu.lab5.model.JewelryMaterial"/>
        <mapping class="edu.sfu.lab5.model.Customer"/>
        <mapping class="edu.sfu.lab5.model.Order"/>
        <mapping class="edu.sfu.lab5.model.OrderItem"/>
    </session-factory>
</hibernate-configuration>